body{
    width: 100%;
    margin: 0;
    padding: 0;
}
form{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px #e6e6e6;
}
#id_yzm{
    width: 56%;
    display: inline-block;
}
.error_msg{
    font-size: 12px;
    color: red;
    position: absolute;
}




