{% extends "manage.html" %}
{% block title %}问题{% endblock %}
{% load issues_formate %}
{% block css %}
    <link rel="stylesheet" href="/static/plugins/editor.md/css/editormd.min.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">
    <style>
        .issues-list .number {
            width: 100px;
            text-align: right;
        }

        .issues-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .issues-list .issue .tags {
            padding: 10px 0;
        }

        .issues-list .issue .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .issues-list .issue .tags .type {
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
            background-color: #dddddd;
        }

        .editormd {
            margin-bottom: 0;
        }

        .pd-0 {
            padding: 0 !important;
        }

        #pec-select a {
            margin-right: 8px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid clearfix" style="padding: 20px 0;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-search" aria-hidden="true"></i> 筛选</div>
                <div class="panel-body filter" id="pec-select">
                    <!-- item: {'title': '问题类型', 'filter': CheckFilter('status', project_issues_type, request)}, -->
                    {% for item in filter_list %}
                        <h5 style="margin-top: 15px">{{ item.title }}</h5>
                        <hr style="margin-top: 10px;margin-bottom: 10px;">
                        {% for foo in item.filter %}
                            {{ foo }}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-quora" aria-hidden="true"></i> 问题
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">
                        新建问题
                    </button>
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteModal">邀请成员</a>
                </div>
                <table class="table">
                    <tbody class="issues-list">
                    {% for foo in issues_object_list %}
                        <tr>
                            <td class="number">
                                <i class="fa fa-circle text-{{ foo.priority }}"></i>
                                <a target="_blank"
                                   href="{% url 'app01:issues_detail' request.tracer_obj.project.id foo.id %}">
                                    {% issues_format_tag foo.id %}</a>
                            </td>
                            <td class="issue">
                                <div>
                                    <a target="_blank"
                                       href="{% url 'app01:issues_detail' request.tracer_obj.project.id foo.id %}">{{ foo.subject }}</a>
                                </div>
                                <div class="tags">
                                        <span class="type">
                                            {{ foo.issues_type.title }}
                                        </span>
                                    <span>
                                            <i class="fa fa-refresh" aria-hidden="true">
                                                {{ foo.get_status_display }}
                                            </i>
                                        </span>
                                    {% if foo.assign %}
                                        <span>
                                                <i class="fa fa-hand-o-right" aria-hidden="true">
                                                    {{ foo.assign }}
                                                </i>
                                            </span>
                                    {% endif %}
                                    <span>
                                            <i class="fa fa-user-o" aria-hidden="true">
                                                {{ foo.creator }}
                                            </i>
                                        </span>
                                    {% if foo.end_date %}
                                        <span><i class="fa fa-calendar"
                                                 aria-hidden="true"></i> {{ foo.end_date }} 截止</span>
                                    {% endif %}
                                    <span><i class="fa fa-clock-o"
                                             aria-hidden="true"></i> {{ foo.latest_update_datetime }} 更新</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page_obj.page_html|safe }}
                </ul>
            </nav>
            <!-- Large modal -->
            <div id="addModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">新建问题</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addForm" class="form-horizontal">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="{{ form.issues_type.id_for_label }}"
                                           class="col-md-2 control-label">{{ form.issues_type.label }}</label>
                                    <div class="col-md-10">
                                        <div>
                                            <div>
                                                {{ form.issues_type }}
                                            </div>
                                            <div class="error_msg"></div>
                                        </div>
                                        <div class="error_msg"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.subject.id_for_label }}"
                                           class="col-md-2 control-label">{{ form.subject.label }}</label>
                                    <div class="col-md-10">
                                        <div>
                                            <div>
                                                {{ form.subject }}
                                            </div>
                                            <div class="error_msg"></div>
                                        </div>
                                        <div class="error_msg"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.module.id_for_label }}"
                                           class="col-md-2 control-label">{{ form.module.label }}</label>
                                    <div class="col-md-10">
                                        <div>
                                            <div>
                                                {{ form.module }}
                                            </div>
                                            <div class="error_msg"></div>
                                        </div>
                                        <div class="error_msg"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="{{ form.desc.id_for_label }}"
                                           class="col-md-2 control-label">{{ form.desc.label }}</label>
                                    <div class="col-md-10">
                                        <div>
                                            <div id="my-markdown-editor">{{ form.desc }}</div>
                                            <div class="error_msg"></div>
                                        </div>
                                        <div class="error_msg"></div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.status.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.status.label }}</label>
                                        <div class="col-md-8 clearfix">
                                            <div>
                                                {{ form.status }}
                                            </div>
                                            <div class="error_msg"></div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 pd-0">
                                        <label for=" {{ form.priority.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.priority.label }}</label>
                                        <div class="col-md-8">
                                            <div>
                                                {{ form.priority }}
                                            </div>
                                            <div class="error_msg"></div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.assign.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.assign.label }}</label>
                                        <div class="col-md-8">
                                            {{ form.assign }}
                                            <div class="error_msg"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.attention.id_for_label }}" class="col-md-4 control-label">关注者</label>
                                        <div class="col-md-8">
                                            {{ form.attention }}
                                            <div class="error_msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.start_date.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.start_date.label }}</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                                {{ form.start_date }}
                                            </div>
                                            <span class="error_msg"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.end_date.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.end_date.label }}</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addon2">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                                {{ form.end_date }}
                                            </div>
                                            <span class="error_msg"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group clearfix">
                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.mode.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.mode.label }}</label>
                                        <div class="col-md-8">
                                            <div>
                                                {{ form.mode }}
                                            </div>
                                            <div class="error_msg"></div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 pd-0">
                                        <label for="{{ form.parent.id_for_label }}"
                                               class="col-md-4 control-label">{{ form.parent.label }}</label>
                                        <div class="col-md-8">
                                            {{ form.parent }}
                                            <div class="error_msg"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="btnAddSubmit">添加</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 邀请弹框 -->
        <div class="modal fade in" id="inviteModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">邀请成员</h4>
                    </div>
                    <div class="modal-body" style="padding-right: 40px;">
                        <form id="inviteForm">
                            {% csrf_token %}
                            {% for field in invite_form %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    <span>{% if field.help_text %}（{{ field.help_text }}）{% endif %}</span>
                                    {{ field }}
                                    <span class="error_msg"></span>
                                </div>
                            {% endfor %}
                            <button type="button" class="btn btn-success" id="btnGenInviteCode">生成邀请码</button>
                        </form>
                        <div id="inviteArea" class="hide">
                            <hr/>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <input type="button" value="邀请链接" class="btn btn-default">
                                    </div>
                                    <input type="text" class="form-control" id="inviteUrl">
                                    <div class="input-group-btn">
                                        <input type="button" value="复制链接" class="btn btn-primary" id="btnCopyUrl">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/plugins/editor.md/editormd.js"></script>
    <script src="/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/plugins/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
    <script src="/static/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/static/plugins/select2/js/select2.min.js"></script>
    <script src="/static/plugins/select2/js/i18n/zh-CN.js"></script>
    <script>
        $(function () {
            initDatePicker();
            ModalShowEvent();
            BindAddIssuesEvent();
            initSelect2();
            createInviteUrl();
            CopyUrl();
            initEditorMd();
            $("#my-markdown-editorq").click(function(){$(this).focus();});
        })

        // mdeditor
        function initEditorMd() {
            editormd("my-markdown-editor", {
                placeholder: '请输入',
                height: 300,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "{% url 'app01:wiki_upload' request.tracer_obj.project.id %}",  //上传的图片保存到哪里去，目标路径
                path: "/static/plugins/editor.md/lib/",  //指定给mdeditor的静态文件寻找目录
            });
        }

        // 创建邀请链接
        function createInviteUrl() {
            $('#btnGenInviteCode').click(function () {
                $.ajax({
                    url: "{% url 'app01:invite_url' request.tracer_obj.project.id %}",
                    type: 'post',
                    data: $('#inviteForm').serialize(),
                    success: function (res) {
                        // console.log("status:", res)
                        if (res.status) {
                            $('#inviteUrl').val(res.url);
                            $('#inviteArea').removeClass('hide');
                        } else {
                            $.each(res.error, function (k, v) {
                                $('#id_' + k).next('.error_msg').text(v[0]);
                            })
                        }
                    }
                })
            })
        }

        // 点击复制按钮，复制链接到剪切板
        function CopyUrl() {
            $('#btnCopyUrl').click(function () {
                let textEle = $('#inviteUrl')[0];
                textEle.select();  //选中标签中的内容(值)
                document.execCommand('Copy');
                alert('复制成功！');
            })
        }

        // select2
        function initSelect2() {
            //$('.select2').select2({});
            $('.select2').select2({}).on('select2:select', function (e) {
                // console.log(e.params);
                // 选中某一项时自动触发的事件
                location.href = e.params.data.id;  // opthon标签value属性对应的值
            }).on('select2:unselect', function (e) {
                // 取消选中时自动触发的事件
                location.href = e.params.data.id;
            })

        }

        // 弹窗设置
        function ModalShowEvent() {
            $('#addModal').on('show.bs.modal', function (event) {
                $(".error_msg").text('');

            })
         }

        /* 添加对话框：初始化时间选择 */
        function initDatePicker() {
            $('#id_start_date, #id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',  // 0表示从今天开始后面的日期可以选择
                language: "zh-CN",
                autoclose: true
            });
        }

        // 添加问题数据到后台
        function BindAddIssuesEvent() {
            $('#btnAddSubmit').click(function () {
                $.ajax({
                    url: "{% url 'app01:issues' request.tracer_obj.project.id %}",
                    type: 'post',
                    data: $('#addForm').serialize(),
                    success: function (res) {
                        if (res.status) {
                            location.reload();
                        } else {
                            $.each(res.error, function (k, v) {
                                $('#id_' + k).parent().next('.error_msg').text(v[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}


