{% extends "manage.html" %}
{% block title %}管理中心{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/error.css">
    <style>
        .thumbnail {
            padding: 0;
            border-radius: 5px;
        }

        .back-color {
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .thumbnail .caption {
            padding: 6px;
        }

        .caption p {
            margin: 0;
        }
        #style-a {
            color: black;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Button trigger modal -->
        <div class="clear-text">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建项目
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新建项目</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form-date">
                            {% csrf_token %}
                            {% for foo in form %}
                                <div class="form-group">
                                    <label for="{{ foo.id_for_label }}">{{ foo.label }}</label>
                                    {{ foo }}
                                    <span class="error_msg"></span>
                                </div>
                            {% endfor %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="submit">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project -->
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading"><i class="fa fa-star"></i> 星标</div>
            <div class="panel-body">
                <div class="row">
                    {% for start_pro in project_dict.star %}
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <a id="style-a" href="{% url 'app01:dashboard' start_pro.value.id %}">
                                    <div class="back-color"
                                         style="background-color: {{ start_pro.value.get_color_display }};">
                                        {{ start_pro.value.name }}
                                    </div>
                                </a>
                                <div class="caption">
                                    <p class="clearfix">
                                    <span class="pull-left">
                                        <a href="{% url 'app01:project_unstar' start_pro.star_type start_pro.value.id %}">
                                            <i class="fa fa-star" style="color:orange;"></i>
                                        </a> {{ start_pro.value.creator.username }}
                                    </span>
                                        <span class="pull-right">
                                        <i class="fa fa-user-o"></i> {{ start_pro.value.join_count }}
                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list" aria-hidden="true"></i> 我创建的</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% for start_pro in project_dict.my %}
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <a id="style-a" href="{% url 'app01:dashboard' start_pro.id %}">
                                    <div class="back-color" style="background-color: {{ start_pro.get_color_display }};">
                                        {{ start_pro.name }}
                                    </div>
                                </a>
                                <div class="caption">
                                    <p class="clearfix">
                                    <span class="pull-left">
                                        <a href="{% url 'app01:project_star' 'my' start_pro.id %}">
                                            <i class="fa fa-star" style="color:lightgray;"></i>
                                        </a> {{ start_pro.creator.username }}
                                    </span>
                                        <span class="pull-right">
                                        <i class="fa fa-user-o"></i> {{ start_pro.join_count }}
                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-handshake-o" aria-hidden="true"></i> 我参与的</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    {% for start_pro in project_dict.join %}
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <a id="style-a" href="{% url 'app01:dashboard' start_pro.id %}">
                                    <div class="back-color" style="background-color: {{ start_pro.get_color_display }};">
                                        {{ start_pro.name }}
                                    </div>
                                </a>
                                <div class="caption">
                                    <p class="clearfix">
                                    <span class="pull-left">
                                        <a href="{% url 'app01:project_star' 'join' start_pro.id %}">
                                            <i class="fa fa-star" style="color:lightgray;"></i>
                                        </a> {{ start_pro.creator.username }}
                                    </span>
                                        <span class="pull-right">
                                        <i class="fa fa-user-o"></i> {{ start_pro.join_count }}
                                    </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            bindSubmit();
            bindClear();
        })

        function bindClear() {
            $(".clear-text").click(function () {
                $('.error_msg').text('');
            })
        }

        function bindSubmit() {
            $("#submit").click(function () {
                let nameEle = $("#id_name");
                if (nameEle.val().trim()) {
                    let data = $("#form-date").serialize();
                    $.ajax({
                        url: "{% url 'app01:project_list' %}",
                        type: "post",
                        data: data,
                        dataType: "json",
                        success: function (arg) {
                            if (arg.status) {
                                // 刷新页面
                                location.reload();
                            } else {
                                $('.error_msg').text('');
                                $.each(arg.error_msg, function (k, v) {
                                    // console.log(k, v);
                                    $('#id_' + k).next().text(v[0])
                                });
                            }
                        }
                    })
                } else {
                    $('.error_msg').text('');
                    nameEle.next().text('请输入项目名！');
                    return false;
                }

            });
        }
    </script>
{% endblock %}






