{% extends "manage.html" %}
{% block title %}wiki页面{% endblock %}

{% block css %}
    <style>
        .title {
            border-right: 1px solid #ddd;
            min-height: 590px;
            padding-top: 15px;
        }
        .content {
            margin-left: -1px;
            border-left: 1px solid #ddd;
            min-height: 590px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .panel-body {
            padding: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left"><i class="fa fa-book"> wiki文档</i></div>
                <div class="pull-right">
                    <a href="{% url 'app01:wiki_add' request.tracer_obj.project.id %}" class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle"> 新建</i>
                    </a>
                </div>
                {% if wiki_obj %}
                    <div class="pull-right" style="margin-right: 15px;">
                        <a href="{% url 'app01:wiki_delete' request.tracer_obj.project.id wiki_obj.id %}"
                           class="btn btn-danger btn-xs">
                            <i class="fa fa-remove" aria-hidden="true"></i> 删除</i>
                        </a>
                    </div>
                    <div class="pull-right" style="margin-right: 15px;">
                        <a href="{% url 'app01:wiki_edit' request.tracer_obj.project.id wiki_obj.id %}"
                           class="btn btn-warning btn-xs">
                            <i class="fa fa-pencil" aria-hidden="true"></i> 编辑</i>
                        </a>
                    </div>
                {% endif %}

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="title col-md-3">
                        <ul id="title-list"></ul>
                    </div>
                    <div class="content col-md-9">
                        {% block content-right %}
                            {% if wiki_obj %}
                                <div id="previewmarkdown">
                                    <textarea style="display: none;">{{ wiki_obj.content }}</textarea>
                                </div>
                            {% else %}
                            <div class="text-center" style="margin-top:40px;">
                                <h5><b>《{{ request.tracer_obj.project.name }}》wiki文档库</b></h5>
                                <div>
                                    <a href="{% url 'app01:wiki_add' request.tracer_obj.project.id %}" style="font-size: 12px;">
                                        <i class="fa fa-plus-circle"></i>
                                        新建文章
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function(){
            titleList();
            initPreviewMarkdown();
        })

        function initPreviewMarkdown() {
            editormd.markdownToHTML('previewmarkdown',{
                htmlDecode: "style,script,iframe",  // 防xss攻击等
            })
        }

        // 文章目录列表
        var WIKI_URL = "{% url 'app01:wiki' request.tracer_obj.project.id %}";
        function titleList(){
            $.ajax({
                url: "{% url 'app01:wiki_data' request.tracer_obj.project.id %}",
                type: "get",
                success:function(res){
                    if (res.status){
                        let ulEle = $('#title-list');
                        $.each(res.data, function (index,value) {
                            // console.log(res.data);
                            let url = WIKI_URL + '?wiki_id=' + value.id;
                            let liEle = $('<li>').attr('id','id_'+value.id).html(`<a href=${url}>${value.title}</a>`).append($('<ul>'));

                            if (!value.parent_id){
                                ulEle.append(liEle);
                            }
                            else {
                                $('#id_'+value.parent_id).children('ul').append(liEle);
                            }

                        })

                    }
                    else {
                        alert('初始化目录失败！');
                    }
                }
            })
        }
    </script>
    <script src="/static/plugins/editor.md/editormd.min.js"></script>
    <script src="/static/plugins/editor.md/lib/flowchart.min.js"></script>
    <script src="/static/plugins/editor.md/lib/jquery.flowchart.min.js"></script>
    <script src="/static/plugins/editor.md/lib/marked.min.js"></script>
    <script src="/static/plugins/editor.md/lib/prettify.min.js"></script>
    <script src="/static/plugins/editor.md/lib/raphael.min.js"></script>
    <script src="/static/plugins/editor.md/lib/underscore.min.js"></script>
    <script src="/static/plugins/editor.md/lib/sequence-diagram.min.js"></script>
{% endblock %}